#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  scroll-behavior: smooth;
  font-family: "Saira", sans-serif;
}

@media (max-width: 768px) {
  .react-multi-carousel {
    swiping: true;
  }
}

w3m-modal {
  z-index: 1002;
}
