.media {
  flex-direction: column;

  & .selector {
    align-items: center;
  }

  & h4 {
    margin-block: 0rem;
  }

  & .btn {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 0.5rem;
  }

  & .content, & img {
    height: 20rem;
    max-width: calc(100% - 1rem);
  }

  & img {
    object-fit: contain;
    background-color: var(--img-bg, inherit);
    flex-grow: 1;
    padding: 0.5rem;
  }

  & section {
    flex-grow: 1;
  }
}

#homepage {
  display: flex;
  align-items: center;

  & label {
    flex-grow: 1;
  }
}

#description {
  display: block;

  & label, & .react-tabs {
    display: block;
  }

  & [class="react-tabs__tab-panel"] {
    display: none;
  }
  
  & [class="react-tabs__tab-panel--selected"] {
    display: block;
  }


  & [role="tabpanel"] {
    &:last-of-type, & textarea {
      max-width: 35rem;
      width: 100%;
      height: 6ch;
      margin-inline: auto;
    }
  }

  & [role="tablist"] {
    margin-block-end: 0rem;

    & [role="tab"] {
      margin-block-end: 0rem;
    }

    &:has(li[role="tab"][aria-selected="true"]:last-of-type)
    ~ [role="tabpanel"] {
      padding: 0.5rem;
    }

    & [aria-selected="true"] {
      color: yellow;
    }
  }

  & [role="tabpanel"] {
    background-color: #f5f5f577;
    padding-block: 0.5rem;

    & > *:first-child {
      margin-block-start: 0rem;
    }

    & > *:last-child {
      margin-block-end: 0rem;
    }
  }
}

#attributes {
  & .actions {
    display: flex;
  }
}

.net-submit {
  margin-bottom: 1rem;
  width: 100%;
}

#props {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.5rem;
  column-gap: 0.75rem;

  & h3 {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & h3:after {
    content: ":";
  }

  & > li, & label {
    display: contents;
    /* grid-template-columns: subgrid;
    grid-template-rows: subgrid; */
  }

  & label aside {
    display: flex;

    & input {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }

  & input {
    width: 100%;
  }
}